[class^="ri-"], [class*=" ri-"] {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.2em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.ri-home-5-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-home-5-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-home-5-line.svg');
}

.ri-layout-grid-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-layout-grid-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-layout-grid-line.svg');
}

.ri-login-box-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-login-box-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-login-box-line.svg');
}

.ri-store-2-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-store-2-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-store-2-line.svg');
}

.ri-gallery-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-gallery-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-gallery-line.svg');
}

.ri-heart-3-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-heart-3-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-heart-3-line.svg');
}

.ri-heart-3-fill {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-heart-3-fill.svg');
  mask-image: url('/assets/icons/remixicon/ri-heart-3-fill.svg');
}

.ri-bar-chart-fill {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-bar-chart-fill.svg');
  mask-image: url('/assets/icons/remixicon/ri-bar-chart-fill.svg');
}

.ri-close-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-close-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-close-line.svg');
}

.ri-close-circle-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-close-circle-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-close-circle-line.svg');
}

.ri-external-link-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-external-link-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-external-link-line.svg');
}

.ri-arrow-left-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-arrow-left-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-arrow-left-line.svg');
}

.ri-star-fill {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-star-fill.svg');
  mask-image: url('/assets/icons/remixicon/ri-star-fill.svg');
}

.ri-sparkling-2-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-sparkling-2-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-sparkling-2-line.svg');
}

.ri-map-pin-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-map-pin-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-map-pin-line.svg');
}

.ri-calendar-check-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-calendar-check-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-calendar-check-line.svg');
}

.ri-user-follow-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-user-follow-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-user-follow-line.svg');
}

.ri-price-tag-3-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-price-tag-3-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-price-tag-3-line.svg');
}

.ri-eye-line {
  -webkit-mask-image: url('/assets/icons/remixicon/ri-eye-line.svg');
  mask-image: url('/assets/icons/remixicon/ri-eye-line.svg');
}
